# common
model_name: flow-ego-centric

# model
use_map_image: False
use_map_lanes: True
num_modes: 6
num_agent_feature: 29  # change from 39 to 29 because history duration is changed to 11 now
num_map_feature: 29
hidden_size: 192
num_encoder_layers: 2
num_decoder_layers: 8
tx_num_heads: 6
dropout: 0.1
kl_weight: 20.0
use_FDEADE_aux_loss: True
num_queries_enc: 192

# decoder
dec_hidden_size: 192
chunk_size: 2
action_len: 1   # dataset needs to be regenerated if using a difference action_len
action_type: 'trajectory' # ['trajectory', 'velocity', 'ik']
dit_depth: 2
mlp_ratio: 4
num_heads: 6

# train
max_epochs: 150 #150 #40
warm_up_epoch: 5
learning_rate: 0.0001 # 0.00075 # 1e-3 for lanegcn
ewc_lambda: 2000
grad_clip_norm: 5
train_batch_size: 128 #32 #128
eval_batch_size: 256 #32 #128

# test 
if_test: False
ckpt_path: null
num_samples: 6
num_steps: 10

# data related
max_num_agents: 32
map_range: 100
max_num_roads: 384
max_points_per_lane: 30 # will be overwritten if manually_split_lane is True
manually_split_lane: False
# lane split related params
point_sampled_interval: 1
num_points_each_polyline: 20
vector_break_dist_thresh: 1.0
